.page__about {
}
.about {
  background-color: $color-white;
  min-height: 100svh;
  display: flex;
  align-items: center;
  padding-block: 3.75rem;
}
.about__container {
}
.about__subtitle {
  font-size: 1.25rem;
  font-weight: bold;
  color: rgb(0, 0, 0, 0.3);
  line-height: 1.6;
}
.about__body {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
}
.about__text-block {
  max-width: 45rem;
  flex: 1 1 0;
}
.about__title {
  font-size: 3rem;
  line-height: 1.25;
  margin-bottom: 1.5625rem;
}
.about__text {
  font-size: 1.125rem;
  line-height: 1.33;
  letter-spacing: 0.02;
  opacity: 0.7;
  margin-bottom: clamp(1.25rem, 5vw, 2.8125rem);
}
.about__text p:not(:last-child) {
  margin-bottom: clamp(0.9375rem, 5vw, 1.875rem);
}
.about__action {
  display: flex;
  gap: 0.9375rem;
  align-items: center;
}
.wrapper-btn {
}
.btn {
}
.about__certificates {
  text-decoration: underline;
  font-size: 18px;
  line-height: 1.66;
}
.about__benefit {
  display: flex;
  gap: 2.1875rem;
  align-items: start;
  flex-direction: column;
}
.benefit {
}
.benefit__item {
  display: flex;
  gap: 1.25rem;
}
.benefit__image {
  max-width: 3.4375rem;
  max-height: 3.4375rem;
}
.benefit__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.benefit__text {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  line-height: 1.33;
}
.benefit__title {
  font-size: 1.5rem;
}
.benefit__description {
  opacity: 0.7;
  font-size: 1.125rem;
  max-width: 18.75rem;
}

@media (max-width: 68.75em) {
  .about__body {
    align-items: center;
  }
  .about__title {
    font-size: 36px;
  }
}
@media (max-width: 53.125em) {
  .about__body {
    flex-direction: column;
    gap: 50px;
  }
  .about__text-block {
    max-width: 53.125rem;
    flex: 1 1 0;
  }
  .about__title {
    font-size: 34px;
  }
}
@media (max-width: 28.125rem) {
  .benefit__item {
    gap: 10px;
  }
  .benefit__title {
    font-size: 20px;
  }
  .benefit__description {
    font-size: 16px;
    max-width: 15.625rem;
  }
}
