@use "variables.scss" as *;
@use "mixins.scss" as *;
// кнопка
.btn {
  position: relative;
  background-color: $color-yellow;
  padding-inline: 1.25rem 5rem;
  padding-block: 0.875rem;
  text-align: center;
  display: inline-block;
  font-size: 1.125rem;
  cursor: pointer;
  transition: all 0.3s;
  min-width: 13.75rem;
}
.btn:hover {
  background-color: yellow;
  outline: 0.0625rem solid $color-yellow;
}
.btn::after {
  position: absolute;
  content: "";
  display: block;
  background: url("../../assets/arrow-side-icon.svg") no-repeat center center;
  background-size: contain;
  width: 0.75rem;
  height: 0.75rem;
  top: 50%;
  right: 1.25rem;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.btn:hover::after {
  right: 0.625rem;
}

// блок контактов

.contact-item {
  display: flex;
  align-items: center;
  gap: 0.6875rem;

  // .contact-item__icon
  &:hover {
    .contact-item__icon {
      animation: shake 0.5s infinite;
    }
  }
  &__wrapper {
    display: flex;
    align-items: start;
    gap: 0.6875rem;
  }

  &__icon {
    width: 2.875rem;
    height: 2.875rem;
    transition: transform 0.2s;
  }

  // .contact-item__content

  &__content {
    @media (max-width: 36.0625em) {
      display: none;
    }
  }
  &__link {
    display: block;
  }

  // .contact-item__label

  &__label {
    font-family: $font-secondary;
    font-size: 0.75rem;
    line-height: 1.25;
    & span {
      font-family: $font-primary;
      font-weight: 600;
      font-size: 1rem;
    }
  }

  // .contact-item__value

  &__value {
    line-height: 1.875;
  }
}
.map {
}

// маркер текста
.marker {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.marker::after {
  content: "";
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  width: 101%;
  height: 0.5rem;
  background-color: $color-yellow;
  z-index: -1;
}

// сабтайтлы

.title {
  line-height: 1.25;

  @include adaptiveValue(font-size, 48, 26);
}
.subtitle {
  font-size: 1.25rem;
  font-weight: bold;
  color: rgb(0, 0, 0, 0.3);
  line-height: 1.6;
}
