@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../fonts/Roboto-VariableFont_wdth\,wght.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Inter", sans-serif;
  src: url("../fonts/Inter-VariableFont_opsz\,wght.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
