@use "_variables" as *;
@use "mixins.scss" as *;
.footer {
  // .footer__wrapper

  &__wrapper {
    @include adaptiveValue(padding-block, 67, 15);
    position: relative;
  }

  // .footer__bg

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  // .footer__image

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // .footer__container

  &__container {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    @include adaptiveValue(gap, 70, 30);
  }

  // .footer__top

  &__top {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    @media (max-width: 36.0625em) {
      flex-direction: column;
      gap: 25px;
    }
  }

  // .footer__text

  &__text {
    @include adaptiveValue(font-size, 30, 18);
    line-height: 1.26;
  }

  // .footer__contact

  &__contact {
    display: flex;
    @include adaptiveValue(gap, 18, 10);
    flex-wrap: wrap;
    @media (max-width: 36.0625em) {
      gap: 25px;
    }
  }

  // .footer__phone

  &__phone,
  &__email,
  &__search {
    display: flex;
    @include adaptiveValue(gap, 16, 10);
    align-items: center;
  }

  // .footer__icon

  &__icon {
  }

  // .footer__text-contact

  &__text-contact {
  }

  // .footer__email

  &__email {
  }
  // .footer__search
  &__search {
  }

  // .footer__center

  &__center {
    display: flex;
    justify-content: space-between;
    // gap: 1.25rem;
    flex-wrap: wrap-reverse;
    @include adaptiveValue(gap, 180, 30);
    @media (max-width: 36.0625em) {
      row-gap: 3.125rem;
    }
  }

  // .footer__info-list

  &__info-list {
    display: flex;
    @include adaptiveValue(gap, 80, 30);
    justify-content: space-between;
    flex-grow: 1;
    // @media (max-width: 1225px) {
    //   flex-grow: 1;
    // }
    @media (max-width: 36.0625em) {
      flex-direction: column;
      gap: 25px;
      flex-grow: 1;
    }
  }

  // .footer__info-item

  &__info-item {
    display: flex;
    flex-direction: column;
    @include adaptiveValue(gap, 25, 15);
  }

  // .footer__career

  &__career {
    display: flex;
    @include adaptiveValue(gap, 35, 15);
    flex: 0 1 485px;
  }

  // .footer__career-icon

  &__career-icon {
    width: 4.1875rem;
    height: 4.1875rem;
    @media (max-width: 36.0625em) {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  // .footer__career-body

  &__career-body {
    @include adaptiveValue(gap, 25, 20);
    display: flex;
    flex-direction: column;
  }

  // .footer__career-title

  &__career-title {
    @include adaptiveValue(font-size, 32, 20);
    line-height: 1.25;
  }

  // .footer__career-text

  &__career-text {
    font-size: 16px;
    line-height: 1.5;
    @media (max-width: 36.0625em) {
      display: none;
    }
  }
}
.footer-column {
  // .footer-column__title

  &__title {
    @include adaptiveValue(font-size, 32, 24);
    line-height: 1.25;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 36.0625em) {
      font-weight: 500;
      &::after {
        content: "";
        display: block;
        width: 1.25rem;
        height: 1.25rem;
        background: url("../../assets/arrow-icon.svg") no-repeat center;
        background-size: contain;
        flex-shrink: 0;
        transition: transform 0.3s ease;
      }
      &[data-footer-menu-open]::after {
        transform: rotate(-180deg);
      }
    }
  }

  // .footer-column__list

  &__list {
    display: flex;
    flex-direction: column;
    @include adaptiveValue(gap, 20, 15);
    overflow: hidden;
    transition: height 0.3s ease;
  }
  // .footer-column__item
  &__item {
    font-size: 1rem;
    transition: text-decoration 0.3s ease;
    @media (hover: hover) {
      & {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.wrapper-btn {
}
.btn {
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  flex-wrap: wrap;
  @include adaptiveValue(padding-top, 20, 10);
  @include adaptiveValue(padding-bottom, 50, 25);
  font-size: 0.875rem;
  @media (max-width: 860px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
