.page {
}
.page__hero {
  min-height: 100svh;
}
.hero {
  min-height: 100svh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hero__bg {
  position: absolute;
  inset: 0;
  width: 100%;
  z-index: -1;
}
.hero__bg img {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  object-fit: cover;
}
.hero__container {
  display: flex;
  justify-content: flex-start;
  // padding-block: 27.25rem;
  position: relative;
}
.hero__body {
  position: relative;
  max-width: 40.625rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.hero__title {
  font-size: 3rem;
  font-size: clamp(2.25rem, 5vw, 3rem);
  line-height: 1.16;
  font-weight: 400;
  margin-bottom: 0.625rem;
  color: $color-black;
}
.title-decor {
  display: inline-block;
  position: relative;
}
.title-decor::after {
  content: "";
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  width: 101%;
  height: 0.5rem;
  background-color: $color-yellow;
  z-index: -1;
}
.hero__text {
  font-size: 1.125rem;
  line-height: 1.66;
  letter-spacing: 0.02em;
  margin-bottom: 2.5rem;
}
.hero__action {
  display: flex;
  gap: 0.9375rem;
  row-gap: 1.875rem;
  flex-wrap: wrap;
}
.wrapper-btn {
}

.contact-block {
}
.header__contact-icon {
}
.header__text-contact {
}

@media (max-width: 55.625rem) {
  .hero__body {
    max-width: 36.25rem;
  }
}

@media (max-width: 48em) {
  .hero__bg img {
    object-position: 77% 100%;
  }
  .hero__body {
    max-width: 31.25rem;
  }
}
@media (max-width: 40.9375em) {
  .hero__body::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(5);
    z-index: -1;
  }
}
@media (max-width: 26.875em) {
  .hero__container {
    justify-content: center;
  }
  .hero__body {
    max-width: 25rem;
    justify-content: center;
  }
  .hero__action {
    justify-content: center;
  }
}
