@use "_variables" as *;
@use "_mixins" as *;
.what-we-do {
  &__wrapper {
    position: relative;
  }

  // .what-we-do__container

  &__container {
    display: flex;
    flex-direction: column;
    @include adaptiveValue(padding-top, 120, 40);
  }

  // .what-we-do__body

  &__body {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    @include adaptiveValue(gap, 145, 40);
  }

  // .what-we-do__header

  &__header {
    display: flex;
    justify-content: space-between;
    line-height: 1.25;
    align-items: start;
    gap: 1.25rem;
    flex-wrap: wrap;
  }
  // .what-we-do__text-block
  &__text-block {
    max-width: 57.5rem;
  }

  // .what-we-do__bottom

  &__bottom {
    @media (width < 48em) {
      margin-left: -0.9375rem;
      margin-right: -0.9375rem;
    }
  }

  // .what-we-do__list

  &__list {
    display: flex;
    overflow-x: auto;
  }

  // .what-we-do__item

  &__item {
    max-width: 13.75rem;
    flex: 1 0 13.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.25rem;
    cursor: pointer;
    @include adaptiveValue("padding-block", 25, 10);
    // @include adaptiveValue("padding-inline", 15, 10);
    padding-inline: 0.9375rem;
    &.active {
      background-color: #ffffff;
    }
    @media (hover: hover) {
      & {
        &:hover {
          background-color: #ffffff;
        }
      }
    }

    @media (width < 48em) {
      flex: 1 0 12.5rem;
    }
  }

  // .what-we-do__text-item

  &__text-item {
    text-align: center;
    @include adaptiveValue(font-size, 18, 14);
    line-height: 1.44;
    align-items: start;
  }

  // .what-we-do__bg

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3.125rem;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.07), transparent);
      pointer-events: none;
    }
  }

  // .what-we-do__image

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.video {
  padding-top: 2.5rem;
  @include adaptiveValue(padding-right, 75, 20);
  cursor: pointer;
  @media (hover: hover) {
    & {
      &:hover {
        .video__logo {
          transform: scale(1.1);
          transition: transform 0.3s ease;
        }
        .video__title {
          text-decoration: underline;
        }
      }
    }
  }

  // .video___link
  &__link {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
    flex: 0 0 auto;
  }

  // .video__logo

  &__logo {
  }

  // .video__text

  &__text {
  }

  // .video__title

  &__title {
    line-height: 1.125;
    @include adaptiveValue(font-size, 32, 16);
  }

  // .video__description

  &__description {
    font-size: 0.875rem;
    line-height: 1.71;
    color: #818181;
  }
}

.tabs {
  // .tabs__list

  &__list {
    position: relative;
    @include adaptiveValue(padding-top, 60, 20);
    @include adaptiveValue(padding-bottom, 60, 20);
  }

  // .tabs__item

  &__item {
    opacity: 0;
    visibility: hidden;
    transform: translateY(1.25rem);
    transition:
      opacity 0.4s ease,
      transform 0.4s ease,
      visibility 0.4s ease;

    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      position: relative;
    }
  }

  // .tabs__body

  &__body {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    @media (width < 48em) {
      flex-direction: column;
    }
  }

  // .tabs__content

  &__content {
    display: flex;
    flex-direction: column;
    @include adaptiveValue(gap, 50, 20);
  }
  &__content-text {
    display: flex;
    @include adaptiveValue(gap, 17, 10);
    flex-direction: column;
  }

  // .tabs__title

  &__title {
    @include adaptiveValue(font-size, 30, 20);
    line-height: 1.26;
  }

  // .tabs__text

  &__text {
    align-items: center;
    @include adaptiveValue(font-size, 18, 16);
    line-height: 1.66;
    max-width: 53.25rem;

    a {
      display: inline-flex;
      align-items: baseline;
      color: #035397;
      font-weight: 600;
      position: relative;

      &::after {
        content: "";
        display: inline-block;
        background: url("../../assets/arrow-link.svg") no-repeat center center;
        background-size: contain;
        width: 0.75rem;
        height: 0.75rem;
        margin-left: 0.3125rem;
        transition: transform 0.3s ease;
      }

      &::first-letter {
        font-size: 1.5em;
        line-height: 1;
      }

      @media (hover: hover) {
        & {
          &:hover {
            text-decoration: underline;

            &::after {
              transform: translateX(0.125rem);
            }
          }
        }
      }
    }
  }

  // .tabs__gallery

  &__gallery {
    display: flex;
    @include adaptiveValue(gap, 30, 10);
    flex-wrap: wrap;
    @media (width < 48em) {
      display: none;
    }
  }

  // .tabs__gallery-item

  &__gallery-item {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    @media (hover: hover) {
      & {
        &:hover {
          .tabs__image-text {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__picture {
    width: 100%;
    max-width: 18.125rem;
    aspect-ratio: 290 / 192;
    overflow: hidden;
  }

  // .tabs__image

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
  }

  // .tabs__image-text

  &__image-text {
    text-align: center;
    font-size: 1.125rem;
  }

  // .tabs__bottom

  &__bottom {
    display: flex;
    flex-direction: column;
    @include adaptiveValue(gap, 50, 20);
  }

  // .tabs__contact
}
.calendar {
  position: relative;
  min-width: 21.25rem;
  flex: 0 0 auto;
  background-color: #fafafa;
  border: 0.0625rem solid #dfdfdf;
  display: flex;
  align-items: center;
  @include adaptiveValue(gap, 60, 10);
  @include adaptiveValue(padding, 30, 10, 40, 10);
  @media (width < 48em) {
    min-width: 0;
    flex: 1 1 auto;
    width: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.25rem;
    background-color: rgb(208, 208, 3);
    bottom: 0;
    left: 0;
  }
  // .calendar__content

  &__content {
    max-width: 9.375rem;
  }

  // .calendar__context-text
  &__content-text {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
  }

  // .calendar__title

  &__title {
    @include adaptiveValue(font-size, 20, 16);
    line-height: 1.3;
  }

  // .calendar__online

  &__online {
    font-size: 0.875rem;
    line-height: 2;
    &::after {
      content: "";
      display: inline-block;
      width: 0.5rem;
      height: 0.5rem;
      background-color: #28cba4;
      margin-left: 0.3125rem;
      border-radius: 50%;
    }
  }

  // .calendar__icon

  &__icon {
    width: 3.5625rem;
    height: 3.5625rem;
    flex: 0 0 3.5625rem;
  }

  // .calendar__image

  &__image {
  }
}
.contact {
  max-width: 21.25rem;
  display: flex;
  flex-direction: column;
  @include adaptiveValue(gap, 20, 10);
  // .contact__text
  &__text {
    @include adaptiveValue(font-size, 24, 16);
    line-height: 1.33;
  }
}
