@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../fonts/Roboto-VariableFont_wdth,wght.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Inter", sans-serif;
  src: url("../fonts/Inter-VariableFont_opsz,wght.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
:root {
  --base-font-size: 1rem;
  --font-family: "Roboto", sans-serif;
  --second-family: "Inter", sans-serif;
}

html {
  font-size: var(--base-font-size);
}

body {
  font-family: var(--font-family);
}

[class*=__container] {
  width: 100%;
  max-width: 89.375rem;
  padding-inline: 0.9375rem;
  margin-inline: auto;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

input {
  width: 100%;
}

button {
  background: none;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #ffffff;
}

.header__wrapper {
  position: relative;
  padding-inline: 0.9375rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  min-height: clamp(3.75rem, 3.286vw + 2.386rem, 4.375rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__wrapper::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 0.0625rem;
  background-color: #ebebeb;
  bottom: 0;
  left: 0;
}

.header__left {
  justify-self: start;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__center {
  justify-self: center;
}

.header__logo {
  font-size: clamp(1.5rem, 5vw, 2.25rem);
  line-height: 1.16;
  font-weight: bold;
  max-width: 100%;
  min-width: 0;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 3.75rem;
  min-height: clamp(2.5rem, 3.286vw + 1.5rem, 3.75rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(0.9375rem, 3vw, 2.5rem);
  font-size: 1.125rem;
  line-height: 1.16;
  padding-inline: 0.9375rem;
}

.menu__item {
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu__item::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0.0625rem;
  background-color: #000000;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu__item:hover::before {
  width: 100%;
}

.menu__item:hover {
  color: #665d5d;
}

.menu__arrow {
  position: relative;
}

.menu__arrow::after {
  position: absolute;
  content: "";
  display: block;
  background: url("../../assets/arrow-icon.svg") no-repeat center center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
  top: 50%;
  right: -1.25rem;
  -webkit-transform: translateY(-50%) rotate(0deg);
          transform: translateY(-50%) rotate(0deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.menu__arrow:hover::after {
  -webkit-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}

.menu__submenu {
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0.3125rem 0.5rem 0.625rem #000000;
          box-shadow: 0.3125rem 0.5rem 0.625rem #000000;
  position: absolute;
  top: 100%;
  left: -0.625rem;
  opacity: 0;
  visibility: hidden;
  width: 12.5rem;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
  padding: 0.625rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

html:not([data-menu-open]) .menu__item:hover .menu__submenu {
  visibility: visible;
  opacity: 1;
}

html[data-menu-open] .menu__submenu {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.submenu__item a {
  position: relative;
}

.submenu__item a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0.0625rem;
  background-color: #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.submenu__item:hover a::after {
  width: 100%;
}

.header__right {
  justify-self: end;
  gap: clamp(0.9375rem, 3vw, 2.8125rem);
}

.header__icons-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(0.625rem, 3vw, 1.875rem);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__icons-social a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__icons-social a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.language__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.375rem;
}

.language__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.language__text p:nth-child(1) {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  line-height: 1.25;
  color: #665d5d;
}

.language__text p:nth-child(2) {
  font-size: 0.8125rem;
  line-height: 1.25;
}

.icon-menu {
  display: none;
}

.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile__icons {
  display: none;
}

.mobile__phone {
  display: none;
}

.header--scroll-state .header__wrapper {
  min-height: 3.75rem;
}

.header--scroll-state .header__menu {
  min-height: 2.5rem;
}

@media (max-width: 48em) {
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__left,
  .header__icons-social {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
  }
  .icon-menu {
    display: block;
    width: 1.875rem;
    height: 1.125rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    position: relative;
    z-index: 4;
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    height: 0.125rem;
    width: 1.875rem;
    position: absolute;
    right: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #000000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: 50%;
    translate: 0 -50%;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    background-color: #ffffff;
    backdrop-filter: blur(0.3125rem);
    z-index: 1;
    overflow: auto;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    padding: 9.375rem 0.9375rem 1.875rem 0.9375rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
  }
  .menu::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 3.75rem;
    top: 0;
    left: 100%;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    background-color: #ffffff;
    z-index: 0;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
    font-size: 1.875rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu__item::after {
    content: none;
  }
  [data-menu-open] {
    overflow: hidden;
    height: 100vh;
  }
  [data-menu-open] .icon-menu span {
    width: 0;
  }
  [data-menu-open] .icon-menu::before {
    rotate: -45deg;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    top: 50%;
  }
  [data-menu-open] .icon-menu::after {
    rotate: 45deg;
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
    bottom: 50%;
  }
  [data-menu-open] .menu,
  [data-menu-open] .menu::before {
    z-index: -1;
    left: 0;
    top: 60px;
  }
  [data-menu-open] .mobile__icons,
  [data-menu-open] .mobile__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.25rem;
  }
  .menu__arrow::after {
    display: none;
  }
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  40% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  60% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  80% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  40% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  60% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  80% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.header--scroll-state .header__wrapper {
  min-height: 3.75rem;
}

.header--scroll-state .header__menu {
  min-height: 2.5rem;
}

.header--scroll-state {
  background-color: rgba(231, 228, 228, 0.9);
}

.page__hero {
  min-height: 100svh;
}

.hero {
  min-height: 100svh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.hero__bg {
  position: absolute;
  inset: 0;
  width: 100%;
  z-index: -1;
}
.hero__bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 48em) {
  .hero__bg img {
    -o-object-position: 77% 100%;
       object-position: 77% 100%;
  }
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}
@media (max-width: 26.875em) {
  .hero__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.hero__body {
  position: relative;
  max-width: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (max-width: 55.625rem) {
  .hero__body {
    max-width: 36.25rem;
  }
}
@media (max-width: 48em) {
  .hero__body {
    max-width: 31.25rem;
  }
}
@media (max-width: 26.875em) {
  .hero__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 25rem;
  }
}
@media (max-width: 40.9375em) {
  .hero__body::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 110%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5);
    z-index: -1;
    border-radius: 20px;
  }
}
.hero__title {
  font-size: 3rem;
  font-size: clamp(2.25rem, 5vw, 3rem);
  line-height: 1.16;
  font-weight: 400;
  margin-bottom: 0.625rem;
  color: #000000;
}
.hero__text {
  font-size: 1.125rem;
  line-height: 1.66;
  letter-spacing: 0.02em;
  margin-bottom: 2.5rem;
}
.hero__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  row-gap: 1.875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 26.875em) {
  .hero__action {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3.75rem;
}
.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
}
@media (max-width: 68.75em) {
  .about__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 53.125em) {
  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3.125rem;
  }
}
.about__text-block {
  max-width: 45rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}
@media (max-width: 53.125em) {
  .about__text-block {
    max-width: 53.125rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
}
.about__title {
  margin-bottom: 1.5625rem;
}
@media (max-width: 68.75em) {
  .about__title {
    font-size: 2.25rem;
  }
}
@media (max-width: 53.125em) {
  .about__title {
    font-size: 2.125rem;
  }
}
.about__text {
  font-size: 1.125rem;
  line-height: 1.33;
  letter-spacing: 0.02;
  opacity: 0.7;
  margin-bottom: clamp(1.25rem, 5vw, 2.8125rem);
}
.about__text p:not(:last-child) {
  margin-bottom: clamp(0.9375rem, 5vw, 1.875rem);
}
.about__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 28.125rem) {
  .about__action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about__certificates {
  font-size: 1.125rem;
  line-height: 1.66;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
.about__certificates::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0.0625rem;
  background-color: #000000;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.about__certificates:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #665d5d;
}
.about__certificates:hover::after {
  width: 100%;
}
.about__benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.1875rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefit__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}
@media (max-width: 28.125rem) {
  .benefit__item {
    gap: 0.625rem;
  }
}
.benefit__image {
  max-width: 3.4375rem;
  max-height: 3.4375rem;
}
.benefit__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.benefit__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3125rem;
  line-height: 1.33;
}
.benefit__title {
  font-size: 1.5rem;
}
@media (max-width: 28.125rem) {
  .benefit__title {
    font-size: 1.25rem;
  }
}
.benefit__description {
  opacity: 0.7;
  font-size: 1.125rem;
  max-width: 18.75rem;
}
@media (max-width: 28.125rem) {
  .benefit__description {
    font-size: 1rem;
    max-width: 15.625rem;
  }
}

.what-we-do__wrapper {
  position: relative;
}
.what-we-do__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 88.875em) {
  .what-we-do__container {
    padding-top: 120px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .what-we-do__container {
    padding-top: clamp( 40px , 16.7695099819px  +  7.2595281307vw , 120px );
  }
}
@media (max-width: 20em) {
  .what-we-do__container {
    padding-top: 40px;
  }
}
.what-we-do__body {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 88.875em) {
  .what-we-do__body {
    gap: 145px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .what-we-do__body {
    gap: clamp( 40px , 9.5099818512px  +  9.5281306715vw , 145px );
  }
}
@media (max-width: 20em) {
  .what-we-do__body {
    gap: 40px;
  }
}
.what-we-do__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.25;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.what-we-do__text-block {
  max-width: 920px;
}
.what-we-do__video {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
@media (min-width: 88.875em) {
  .what-we-do__video {
    padding-right: 75px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .what-we-do__video {
    padding-right: clamp( 20px , 4.0290381125px  +  4.9909255898vw , 75px );
  }
}
@media (max-width: 20em) {
  .what-we-do__video {
    padding-right: 20px;
  }
}
@media (width < 768px) {
  .what-we-do__bottom {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.what-we-do__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
}
.what-we-do__item {
  max-width: 220px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 220px;
          flex: 1 0 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
  cursor: pointer;
}
@media (min-width: 88.875em) {
  .what-we-do__item {
    padding-block: 25px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .what-we-do__item {
    padding-block: clamp( 10px , 5.6442831216px  +  1.3611615245vw , 25px );
  }
}
@media (max-width: 20em) {
  .what-we-do__item {
    padding-block: 10px;
  }
}
.what-we-do__item {
  padding-inline: 15px;
}
.what-we-do__item.active {
  background-color: #ffffff;
}
@media (width < 768px) {
  .what-we-do__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 200px;
            flex: 1 0 200px;
  }
}
.what-we-do__text-item {
  text-align: center;
}
@media (min-width: 88.875em) {
  .what-we-do__text-item {
    font-size: 18px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .what-we-do__text-item {
    font-size: clamp( 14px , 12.8384754991px  +  0.3629764065vw , 18px );
  }
}
@media (max-width: 20em) {
  .what-we-do__text-item {
    font-size: 14px;
  }
}
.what-we-do__text-item {
  line-height: 1.44;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.what-we-do__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.what-we-do__bg::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.07)), to(transparent));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.07), transparent);
  pointer-events: none;
}
.what-we-do__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.video__title {
  line-height: 1.125;
}
@media (min-width: 88.875em) {
  .video__title {
    font-size: 32px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .video__title {
    font-size: clamp( 16px , 11.3539019964px  +  1.4519056261vw , 32px );
  }
}
@media (max-width: 20em) {
  .video__title {
    font-size: 16px;
  }
}
.video__description {
  font-size: 14px;
  line-height: 1.71;
  color: #818181;
}

.tabs__list {
  position: relative;
}
@media (min-width: 88.875em) {
  .tabs__list {
    padding-top: 60px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .tabs__list {
    padding-top: clamp( 20px , 8.3847549909px  +  3.6297640653vw , 60px );
  }
}
@media (max-width: 20em) {
  .tabs__list {
    padding-top: 20px;
  }
}
@media (min-width: 88.875em) {
  .tabs__list {
    padding-bottom: 60px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .tabs__list {
    padding-bottom: clamp( 20px , 8.3847549909px  +  3.6297640653vw , 60px );
  }
}
@media (max-width: 20em) {
  .tabs__list {
    padding-bottom: 20px;
  }
}
.tabs__item {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: opacity 0.4s ease, visibility 0.4s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.4s ease, visibility 0.4s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s ease;
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s ease, -webkit-transform 0.4s ease;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.tabs__item.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  position: relative;
}
.tabs__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
@media (width < 768px) {
  .tabs__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.tabs__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 88.875em) {
  .tabs__content {
    gap: 50px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .tabs__content {
    gap: clamp( 20px , 11.2885662432px  +  2.722323049vw , 50px );
  }
}
@media (max-width: 20em) {
  .tabs__content {
    gap: 20px;
  }
}
.tabs__content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 88.875em) {
  .tabs__content-text {
    gap: 17px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .tabs__content-text {
    gap: clamp( 10px , 7.9673321234px  +  0.6352087114vw , 17px );
  }
}
@media (max-width: 20em) {
  .tabs__content-text {
    gap: 10px;
  }
}
.tabs__content-text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 88.875em) {
  .tabs__title {
    font-size: 30px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .tabs__title {
    font-size: clamp( 20px , 17.0961887477px  +  0.9074410163vw , 30px );
  }
}
@media (max-width: 20em) {
  .tabs__title {
    font-size: 20px;
  }
}
.tabs__title {
  line-height: 1.26;
}
.tabs__text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 88.875em) {
  .tabs__text {
    font-size: 18px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .tabs__text {
    font-size: clamp( 16px , 15.4192377495px  +  0.1814882033vw , 18px );
  }
}
@media (max-width: 20em) {
  .tabs__text {
    font-size: 16px;
  }
}
.tabs__text {
  line-height: 1.66;
  max-width: 852px;
}
.tabs__text a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #035397;
  font-weight: 600;
  position: relative;
}
.tabs__text a::after {
  content: "";
  display: inline-block;
  background: url("../../assets/arrow-link.svg") no-repeat center center;
  background-size: contain;
  width: 12px;
  height: 12px;
  margin-left: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tabs__text a::first-letter {
  font-size: 1.5em;
  line-height: 1;
}
.tabs__text a:hover {
  text-decoration: underline;
}
.tabs__text a:hover::after {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
  text-decoration: line-through;
}
.tabs__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 88.875em) {
  .tabs__gallery {
    gap: 30px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .tabs__gallery {
    gap: clamp( 10px , 4.1923774955px  +  1.8148820327vw , 30px );
  }
}
@media (max-width: 20em) {
  .tabs__gallery {
    gap: 10px;
  }
}
.tabs__gallery {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (width < 768px) {
  .tabs__gallery {
    display: none;
  }
}
.tabs__gallery-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.tabs__gallery-item:hover .tabs__image-text {
  text-decoration: underline;
}
.tabs__picture {
  width: 100%;
  max-width: 290px;
  aspect-ratio: 290/192;
  overflow: hidden;
}
.tabs__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}
.tabs__image-text {
  text-align: center;
  font-size: 18px;
}
.tabs__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 88.875em) {
  .tabs__bottom {
    gap: 50px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .tabs__bottom {
    gap: clamp( 20px , 11.2885662432px  +  2.722323049vw , 50px );
  }
}
@media (max-width: 20em) {
  .tabs__bottom {
    gap: 20px;
  }
}

.calendar {
  position: relative;
  min-width: 340px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background-color: #fafafa;
  border: 1px solid #dfdfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 88.875em) {
  .calendar {
    gap: 60px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .calendar {
    gap: clamp( 10px , -4.5190562613px  +  4.5372050817vw , 60px );
  }
}
@media (max-width: 20em) {
  .calendar {
    gap: 10px;
  }
}
@media (min-width: 0.625em) {
  .calendar {
    padding: 30px;
  }
}
@media (min-width: 20em) and (max-width: 0.625em) {
  .calendar {
    padding: clamp( 10px , 30.6451612903px  +  -6.4516129032vw , 30px );
  }
}
@media (max-width: 20em) {
  .calendar {
    padding: 10px;
  }
}
@media (width < 768px) {
  .calendar {
    min-width: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 100%;
  }
}
.calendar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: rgb(208, 208, 3);
  bottom: 0;
  left: 0;
}
.calendar__content {
  max-width: 150px;
}
.calendar__content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
@media (min-width: 88.875em) {
  .calendar__title {
    font-size: 20px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .calendar__title {
    font-size: clamp( 16px , 14.8384754991px  +  0.3629764065vw , 20px );
  }
}
@media (max-width: 20em) {
  .calendar__title {
    font-size: 16px;
  }
}
.calendar__title {
  line-height: 1.3;
}
.calendar__online {
  font-size: 14px;
  line-height: 2;
}
.calendar__online::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #28cba4;
  margin-left: 5px;
  border-radius: 50%;
}
.calendar__icon {
  width: 57px;
  height: 57px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57px;
          flex: 0 0 57px;
}
.contact {
  max-width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 88.875em) {
  .contact {
    gap: 20px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .contact {
    gap: clamp( 10px , 7.0961887477px  +  0.9074410163vw , 20px );
  }
}
@media (max-width: 20em) {
  .contact {
    gap: 10px;
  }
}
@media (min-width: 88.875em) {
  .contact__text {
    font-size: 24px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .contact__text {
    font-size: clamp( 16px , 13.6769509982px  +  0.7259528131vw , 24px );
  }
}
@media (max-width: 20em) {
  .contact__text {
    font-size: 16px;
  }
}
.contact__text {
  line-height: 1.33;
}

.btn {
  position: relative;
  background-color: #fcd900;
  padding-inline: 1.25rem 5rem;
  padding-block: 0.875rem;
  text-align: center;
  display: inline-block;
  font-size: 1.125rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  min-width: 13.75rem;
}

.btn:hover {
  background-color: yellow;
  outline: 0.0625rem solid #fcd900;
  border-radius: 1.25rem;
}

.btn::after {
  position: absolute;
  content: "";
  display: block;
  background: url("../../assets/arrow-side-icon.svg") no-repeat center center;
  background-size: contain;
  width: 0.75rem;
  height: 0.75rem;
  top: 50%;
  right: 1.25rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:hover::after {
  right: 0.625rem;
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.6875rem;
}
.contact-item:hover .contact-item__icon {
  -webkit-animation: shake 0.5s infinite;
          animation: shake 0.5s infinite;
}
.contact-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 0.6875rem;
}
.contact-item__icon {
  height: 1.5rem;
  width: 1.5rem;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.contact-item__icon--big {
  width: 2.875rem;
  height: 2.875rem;
}
@media (max-width: 36.0625em) {
  .contact-item__content--mini {
    display: none;
  }
}
.contact-item__link {
  display: block;
  font-size: 13px;
  text-decoration: underline;
}
.contact-item__label {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  line-height: 1.25;
}
.contact-item__label span {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}
.contact-item__value {
  line-height: 1.875;
}

.marker {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.marker::after {
  content: "";
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  width: 101%;
  height: 0.5rem;
  background-color: #fcd900;
  z-index: -1;
}

.title {
  line-height: 1.25;
}
@media (min-width: 88.875em) {
  .title {
    font-size: 48px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .title {
    font-size: clamp( 26px , 19.611615245px  +  1.9963702359vw , 48px );
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 26px;
  }
}

.subtitle {
  font-size: 1.25rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.3);
  line-height: 1.6;
}

@media (min-width: 88.875em) {
  .process {
    padding-block: 120px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .process {
    padding-block: clamp( 40px , 16.7695099819px  +  7.2595281307vw , 120px );
  }
}
@media (max-width: 20em) {
  .process {
    padding-block: 40px;
  }
}
.process__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 88.875em) {
  .process__container {
    gap: 67px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .process__container {
    gap: clamp( 30px , 19.2558983666px  +  3.3575317604vw , 67px );
  }
}
@media (max-width: 20em) {
  .process__container {
    gap: 30px;
  }
}
.process__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.process__description {
  display: block;
  max-width: 984px;
}
@media (min-width: 88.875em) {
  .process__description {
    font-size: 24px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .process__description {
    font-size: clamp( 16px , 13.6769509982px  +  0.7259528131vw , 24px );
  }
}
@media (max-width: 20em) {
  .process__description {
    font-size: 16px;
  }
}
.process__description {
  line-height: 1.33;
}
.process__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px 16px;
}
.process__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 88.875em) {
  .process__item {
    gap: 26px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .process__item {
    gap: clamp( 16px , 13.0961887477px  +  0.9074410163vw , 26px );
  }
}
@media (max-width: 20em) {
  .process__item {
    gap: 16px;
  }
}
.process__picture {
  aspect-ratio: 3/2;
}
.process__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 88.875em) {
  .process__item-title {
    font-size: 24px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .process__item-title {
    font-size: clamp( 18px , 16.2577132486px  +  0.5444646098vw , 24px );
  }
}
@media (max-width: 20em) {
  .process__item-title {
    font-size: 18px;
  }
}
.process__item-title {
  line-height: 1.33;
}
@media (min-width: 88.875em) {
  .process__item-description {
    font-size: 18px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .process__item-description {
    font-size: clamp( 14px , 12.8384754991px  +  0.3629764065vw , 18px );
  }
}
@media (max-width: 20em) {
  .process__item-description {
    font-size: 14px;
  }
}
.process__item-description {
  opacity: 0.7;
  max-width: 317px;
  line-height: 1.33;
}
@media (min-width: 88.875em) {
  .process__item-description {
    margin-bottom: 26px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .process__item-description {
    margin-bottom: clamp( 10px , 5.3539019964px  +  1.4519056261vw , 26px );
  }
}
@media (max-width: 20em) {
  .process__item-description {
    margin-bottom: 10px;
  }
}
.process__item-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.process__item-link:after {
  content: "";
  display: inline-block;
  background: url("../../assets/arr.svg") no-repeat center center;
  background-size: contain;
  width: 7px;
  height: 8px;
  margin-left: 11px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.process__item-link:hover {
  text-decoration: underline;
}
.process__item-link:hover::after {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
  text-decoration: line-through;
}

.page__news {
  overflow: hidden;
  position: relative;
}

@media (min-width: 88.875em) {
  .news__container {
    padding-block: 120px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .news__container {
    padding-block: clamp( 40px , 16.7695099819px  +  7.2595281307vw , 120px );
  }
}
@media (max-width: 20em) {
  .news__container {
    padding-block: 40px;
  }
}
.news__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 88.875em) {
  .news__container {
    gap: 50px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .news__container {
    gap: clamp( 20px , 11.2885662432px  +  2.722323049vw , 50px );
  }
}
@media (max-width: 20em) {
  .news__container {
    gap: 20px;
  }
}
.news__header {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
@media (min-width: 88.875em) {
  .news__description {
    font-size: 24px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .news__description {
    font-size: clamp( 16px , 13.6769509982px  +  0.7259528131vw , 24px );
  }
}
@media (max-width: 20em) {
  .news__description {
    font-size: 16px;
  }
}
.news__description {
  max-width: 61.5rem;
}
.news__cards {
  z-index: 2;
}
.news__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.cards-news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 88.875em) {
  .cards-news__list {
    gap: 38px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .cards-news__list {
    gap: clamp( 20px , 14.7731397459px  +  1.6333938294vw , 38px );
  }
}
@media (max-width: 20em) {
  .cards-news__list {
    gap: 20px;
  }
}
.cards-news__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.cards-news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 88.875em) {
  .cards-news__item {
    gap: 43px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .cards-news__item {
    gap: clamp( 20px , 13.3212341198px  +  2.0871143376vw , 43px );
  }
}
@media (max-width: 20em) {
  .cards-news__item {
    gap: 20px;
  }
}
.cards-news__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 665px;
          flex: 1 1 665px;
}
@media (max-width: 645px) {
  .cards-news__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 645px) {
  .cards-news__image {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.cards-news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 312px;
          flex: 0 1 312px;
}
@media (max-width: 645px) {
  .cards-news__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 312px;
            flex: 1 1 312px;
  }
}
.cards-news__title {
  font-size: 24px;
  line-height: 1.33;
}
@media (min-width: 88.875em) {
  .cards-news__title {
    margin-bottom: 30px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .cards-news__title {
    margin-bottom: clamp( 10px , 4.1923774955px  +  1.8148820327vw , 30px );
  }
}
@media (max-width: 20em) {
  .cards-news__title {
    margin-bottom: 10px;
  }
}
.cards-news__description {
  opacity: 0.7;
  font-size: 18px;
  line-height: 1.33;
}
@media (min-width: 88.875em) {
  .cards-news__description {
    margin-bottom: 56px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .cards-news__description {
    margin-bottom: clamp( 20px , 9.5462794918px  +  3.2667876588vw , 56px );
  }
}
@media (max-width: 20em) {
  .cards-news__description {
    margin-bottom: 20px;
  }
}

@media (min-width: 88.875em) {
  .footer__wrapper {
    padding-block: 67px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .footer__wrapper {
    padding-block: clamp( 15px , -0.0998185118px  +  4.7186932849vw , 67px );
  }
}
@media (max-width: 20em) {
  .footer__wrapper {
    padding-block: 15px;
  }
}
.footer__wrapper {
  position: relative;
}
.footer__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.footer__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 88.875em) {
  .footer__container {
    gap: 70px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .footer__container {
    gap: clamp( 30px , 18.3847549909px  +  3.6297640653vw , 70px );
  }
}
@media (max-width: 20em) {
  .footer__container {
    gap: 30px;
  }
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 36.0625em) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
  }
}
@media (min-width: 88.875em) {
  .footer__text {
    font-size: 30px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .footer__text {
    font-size: clamp( 18px , 14.5154264973px  +  1.0889292196vw , 30px );
  }
}
@media (max-width: 20em) {
  .footer__text {
    font-size: 18px;
  }
}
.footer__text {
  line-height: 1.26;
}
.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 88.875em) {
  .footer__contact {
    gap: 18px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .footer__contact {
    gap: clamp( 10px , 7.6769509982px  +  0.7259528131vw , 18px );
  }
}
@media (max-width: 20em) {
  .footer__contact {
    gap: 10px;
  }
}
.footer__contact {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 36.0625em) {
  .footer__contact {
    gap: 25px;
  }
}
.footer__phone, .footer__email, .footer__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 88.875em) {
  .footer__phone, .footer__email, .footer__search {
    gap: 16px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .footer__phone, .footer__email, .footer__search {
    gap: clamp( 10px , 8.2577132486px  +  0.5444646098vw , 16px );
  }
}
@media (max-width: 20em) {
  .footer__phone, .footer__email, .footer__search {
    gap: 10px;
  }
}
.footer__phone, .footer__email, .footer__search {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
@media (min-width: 88.875em) {
  .footer__center {
    gap: 180px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .footer__center {
    gap: clamp( 30px , -13.557168784px  +  13.611615245vw , 180px );
  }
}
@media (max-width: 20em) {
  .footer__center {
    gap: 30px;
  }
}
@media (max-width: 36.0625em) {
  .footer__center {
    row-gap: 3.125rem;
  }
}
.footer__info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 88.875em) {
  .footer__info-list {
    gap: 80px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .footer__info-list {
    gap: clamp( 30px , 15.4809437387px  +  4.5372050817vw , 80px );
  }
}
@media (max-width: 20em) {
  .footer__info-list {
    gap: 30px;
  }
}
.footer__info-list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 36.0625em) {
  .footer__info-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.footer__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 88.875em) {
  .footer__info-item {
    gap: 25px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .footer__info-item {
    gap: clamp( 15px , 12.0961887477px  +  0.9074410163vw , 25px );
  }
}
@media (max-width: 20em) {
  .footer__info-item {
    gap: 15px;
  }
}
.footer__career {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 88.875em) {
  .footer__career {
    gap: 35px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .footer__career {
    gap: clamp( 15px , 9.1923774955px  +  1.8148820327vw , 35px );
  }
}
@media (max-width: 20em) {
  .footer__career {
    gap: 15px;
  }
}
.footer__career {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 485px;
          flex: 0 1 485px;
}
.footer__career-icon {
  width: 4.1875rem;
  height: 4.1875rem;
}
@media (max-width: 36.0625em) {
  .footer__career-icon {
    display: none;
  }
}
.footer__career-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 88.875em) {
  .footer__career-body {
    gap: 25px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .footer__career-body {
    gap: clamp( 20px , 18.5480943739px  +  0.4537205082vw , 25px );
  }
}
@media (max-width: 20em) {
  .footer__career-body {
    gap: 20px;
  }
}
.footer__career-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 88.875em) {
  .footer__career-title {
    font-size: 32px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .footer__career-title {
    font-size: clamp( 20px , 16.5154264973px  +  1.0889292196vw , 32px );
  }
}
@media (max-width: 20em) {
  .footer__career-title {
    font-size: 20px;
  }
}
.footer__career-title {
  line-height: 1.25;
}
.footer__career-text {
  font-size: 16px;
  line-height: 1.5;
}
@media (max-width: 36.0625em) {
  .footer__career-text {
    display: none;
  }
}

@media (min-width: 88.875em) {
  .footer-column__title {
    font-size: 32px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .footer-column__title {
    font-size: clamp( 24px , 21.6769509982px  +  0.7259528131vw , 32px );
  }
}
@media (max-width: 20em) {
  .footer-column__title {
    font-size: 24px;
  }
}
.footer-column__title {
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 36.0625em) {
  .footer-column__title {
    font-weight: 500;
  }
  .footer-column__title::after {
    content: "";
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    background: url("../../assets/arrow-icon.svg") no-repeat center;
    background-size: contain;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .footer-column__title[data-footer-menu-open]::after {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}
.footer-column__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 88.875em) {
  .footer-column__list {
    gap: 20px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .footer-column__list {
    gap: clamp( 15px , 13.5480943739px  +  0.4537205082vw , 20px );
  }
}
@media (max-width: 20em) {
  .footer-column__list {
    gap: 15px;
  }
}
.footer-column__list {
  overflow: hidden;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
}
.footer-column__item {
  font-size: 1rem;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 88.875em) {
  .footer__bottom {
    padding-top: 20px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .footer__bottom {
    padding-top: clamp( 10px , 7.0961887477px  +  0.9074410163vw , 20px );
  }
}
@media (max-width: 20em) {
  .footer__bottom {
    padding-top: 10px;
  }
}
@media (min-width: 88.875em) {
  .footer__bottom {
    padding-bottom: 50px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .footer__bottom {
    padding-bottom: clamp( 25px , 17.7404718693px  +  2.2686025408vw , 50px );
  }
}
@media (max-width: 20em) {
  .footer__bottom {
    padding-bottom: 25px;
  }
}
.footer__bottom {
  font-size: 0.875rem;
}
@media (max-width: 860px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

:root {
  --hero-margin: clamp(60px, 8vw, 130px);
  --header-offset: 4.375rem;
}/*# sourceMappingURL=main.css.map */